p {
	font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
}
h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2em;
} 
p.important {
  font-size: 1.5em;
  font-weight: 900;
}
h3.bigger {
  font-size: 2.5em;
}
.typewriter {
  font-family: "Courier New", Courier, monospace;
}
p.standout {
  font-style: italic;
} 
h4.special {
  font-style: italic;
}
.emphasized {
  font-style: italic;
}
.mines {
  font-style: italic;
}
.standout {
  color: #cc0000;
}
.bloody {
  color: #ED0505;
}